src/manejodearchivosxml/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Productos" type="producto"/>

  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element name="precio" type="xs:double"/>
      <xs:element name="descripcion" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="nombre" type="xs:string"/>
  </xs:complexType>
</xs:schema>

